@tailwind preflight;
@tailwind utilities;
@tailwind components;


/* My custom CSS here */
body {
  background-color: #f8fafc;
}

.seed-item-cancel-button {
  transition: visibility 250ms, opacity 250ms;
}

.seed-item:hover .seed-item-cancel-button {
  visibility: visible;
  opacity: 1;
}